extend ../layout

block content
    -if(errors){
        ul.errors
            -errors.forEach(function(err){
            li #{err.message}
            -})
    -}

    form.form-horizontal(method="POST",action="/seeddb/auth")
        legend Twitter Credentials
        div.row.span12.where(style="margin:0px 15px 10px")
            a(href="https://dev.twitter.com/apps",target="_blank") Twitter Credentials erstellen
        div.row.span12
            div.control-group
                label.control-label(for="con_key") Consumer Key
                div.controls
                    input(name="consumerkey", id="con_key", required, value="2YqT1OkrJXwKp8SZwxHAPQ")

            div.control-group
                label.control-label(for="con_secret") Consumer Secret
                div.controls
                    input(id="con_secret", name="consumersecret", required, value="87vJnKAjk8iXF8vK2Kdf62eLhnX2ZyQgBfF6w2Tel0")

            div.control-group
                div.controls
                    input.btn.btn-success(type="submit")
